{% extends 'adminlte/base.html' %}
{% block content %}

{% load socialaccount %}

{% if user.is_authenticated %}
  <p>Logado como: {{ user.username }}</p>
{% endif %}
<br>
<br>
<h3>Cliente</h3>
<ul>
    <a href="{% url 'listarCliente' %}"><li align="center" class="list-group-item col-sm-3">Listar</li></a><br>
    <a href="{% url 'cadastrarCliente' %}"><li align="center" class="list-group-item col-sm-3">Cadastrar</li></a>
</ul>

<h3>Venda</h3>
<ul>
    <a href="{% url 'listarVenda' %}"><li align="center" class="list-group-item col-sm-3">Listar</li></a><br>
    <a href="{% url 'cadastrarVenda' %}"><li align="center" class="list-group-item col-sm-3">Cadastrar</li></a>
</ul>

<h3>Estoque</h3>
<ul>
    <a href="{% url 'listarEstoque' %}"><li align="center" class="list-group-item col-sm-3">Listar</li></a><br>
    <a href="{% url 'cadastrarEstoque' %}"><li align="center" class="list-group-item col-sm-3">Cadastrar</li></a>
</ul>

<h3>Fornecedor</h3>
<ul>
    <a href="{% url 'listarFornecedor' %}"><li align="center" class="list-group-item col-sm-3">Listar</li></a><br>
    <a href="{% url 'cadastrarFornecedor' %}"><li align="center" class="list-group-item col-sm-3">Cadastrar</li></a><br>
</ul>

{% endblock %}