{% extends 'adminlte/base.html' %}
{% block content %}

{% load socialaccount %}

{% if user.is_authenticated %}
  <p class="lead">Olá,<strong> {{ user.username }} </strong>, por favor escolha uma ação.</p>
{% else %}
  <a class="btn btn-primary" href="{% provider_login_url 'facebook' %}">Login With Facebook</a><br>
{% endif %}

<br>
<br>

<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3>Cliente</h3>
        <p class="card-text"></p>
        <a href="{% url 'cadastrarCliente' %}" class="btn btn-warning">Cadastrar</a>
        <a href="{% url 'listarCliente' %}" class="btn btn-primary">Listar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3>Venda</h3>
        <p class="card-text"></p>
        <a href="{% url 'cadastrarVenda' %}" class="btn btn-warning">Cadastrar</a>
        <a href="{% url 'listarVenda' %}" class="btn btn-primary">Listar</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3>Estoque</h3>
        <p class="card-text"></p>
        <a href="{% url 'cadastrarEstoque' %}" class="btn btn-warning">Cadastrar</a>
        <a href="{% url 'listarEstoque' %}" class="btn btn-primary">Listar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3>Fornecedor</h3>
        <p class="card-text"></p>
        <a href="{% url 'cadastrarFornecedor' %}" class="btn btn-warning">Cadastrar</a>
        <a href="{% url 'listarFornecedor' %}" class="btn btn-primary">Listar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}