{% extends 'adminlte/base.html' %}
{% block content %}
{% if cliente_list %}
  <table class="table table-striped">
      <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Celular</th>
      </tr>
      {% for cliente in cliente_list %}
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.celular }}</td>
      </tr>
      {% endfor %}
  </table>

{% else %}
{% endif %}<p>Não há dados para exibir</p>

<div>Last login at: {{ user.last_login }} </div>
<div>First name: {{ user.first_name }} </div>
<div>Last name: {{ user.last_name }} </div>
<div>E-mail: {{ user.email }} </div>
<!--<div>Extra_data: {{ socialaccount }} </div>-->

<!--{% load account %}-->

<!--{% user_display user %}-->

{% endblock %}

